%h1 Robots

- @robots.each do |robot|
  %ul
    %a{ href: "/robots/#{robot.id}" }
      %li{ id: "#{robot.id}" }
        #{robot.id}
      %li
        %img{ id: "avatar#{robot.id}", src: "http://robohash.org/#{robot.id}", width: "60px" }
      %li= robot.name
    %a{ class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect", href: "/robots/#{robot.id}/edit"} edit
    %form{ action: "/robots/#{robot.id}", method: "POST" }
      %input{ type: "hidden", name: "_method", value: "DELETE"}
      %input{ class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect", type: "submit", value: "delete"}
