%h1= @robot.name

%ul
  %li
    %img{ src: @robot.avatar, width: "200px" }
  %li= @robot.id
  %li= @robot.name
  %li= @robot.city
  %li= @robot.planet
  %li= @robot.birthdate
  %li= @robot.hire_date
  %li= @robot.category
